albumentations==1.1.0
numpy==2.2.2
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
OpenNMT-py>=2.2.0
pandas>=2.2.3
rdkit>=2024.3.6
SmilesPE>=0.0.3
tensorboardX>=2.6.2.2
timm>=0.4.12
torch>=2.0.1
